* {
  font-family: 'open sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
	font-size: 55px;
  margin: 0 auto;
  text-align: center;
}

.bookmark-inputs {
	background-color: #455A64;
	color: #fff;
	display: inline-block;
	float: left;
	height: 100%;
	position: fixed;
  text-align: center;
  width: 50%;
}

.logo {
	margin-top: 200px;
	margin-right: 10px;
	margin-left: 10px;
	width: 80px;
}

.link-submission {
	background-color: #fff;
	border: none;
	display: block;
  font-size: 22px;
  height: 30px;
	margin: 30px auto;
	padding-left: 2%;
	width: 80%;
}

.enter {
	background-color: #ffc107;
  border: none;
	color: #fff;
	display: block;
  font-size: 16px;
  font-weight: 600;
	height: 30px;
	margin: 10px auto;
	width: 82%
}

.enter:hover {
	background-color: #ffd773;
}

.enter:disabled {
  background-color: #cfd8dc;
}

.clear-bookmarks {
	background-color: #ffc107;
  border: none;
	color: #fff;
	display: block;
  font-size: 16px;
  font-weight: 600;
	height: 30px;
	margin: 10px auto;
	width: 82%;
}

.clear-bookmarks:hover {
	background-color: #ffd773;
}

.clear-bookmarks:disabled {
  background-color: #cfd8dc;
}

.bookmark-counter {
  background-color: #455A64;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 15px auto;
  text-align: center;
}

.read-counter {
  background-color: #455A64;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 auto;
}

.unread-counter {
  background-color: #455A64;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0 auto;
}

.numbers {
  color: #ffd773;
}

.bookmark-list {
  background-color: #cfd8dc;
  display: block;
  float: right;
  height: 100%;
  margin-left: 50%;
  overflow: auto;
  position: fixed;
  width: 50%;
}

.website-title {
  color: #455a64;
  font-size: 24px;
  font-weight: 600;
  margin: 10px;
}

.website-url {
  border-top: 1px solid #cfd8dc;
  border-bottom: 1px solid #cfd8dc;
  color: #607d8b;
  font-size: 20px;
  font-weight: lighter;
  margin: 0 10px;
  padding: 10px 0;
}

a {
  color: #607d8b;
  text-decoration: underline #f2f4f4;
}

a:hover {
	font-weight: bold;
  text-decoration: underline #ffc107;
}

.card {
  background-color: #fff;
  border: 1px solid #607d8b;
  display: block;
  min-height: 150px;
  margin: 15px auto;
  overflow-wrap: break-word;
  width: 85%;
}

.read-style {
  background-color: #fff;
  border: none;
  color: #455A64;
  font-size: 14px;
  margin-top: 25px;
  margin-left: 10px;
  position: relative;
}

.read-style:hover {
	font-weight: bold;
  text-decoration: underline #ffc107;
}

.read-card {
	background-color: #f2f4f4;
}

.read-card .read-style {
  background-color: #f2f4f4;
  color: #f05a28;
  text-decoration: none;
}

.read-card a {
	text-decoration: underline #cfd8dc;
}

.delete {
  background-color: #fff;
  border: none;
  color: #455A64;
  float: right;
  font-size: 14px;
  margin-top: 25px;
  margin-right: 10px;
}

.delete:hover {
  text-decoration: underline #ffc107;
}

.read-card .delete {
	background-color: #f2f4f4;
  outline: none;
  text-decoration: underline #cfd8dc;
}

input:focus {
	outline: none;
}

button:focus {
	outline: none;
}

@media only screen and (max-width: 2560px) {
  
  h1 {
		font-size: 5vw;
	}
	.logo {
		width: 7vw;
	}
}

@media only screen and (max-width: 800px) {

  h1 {
    font-size: 40px;
  }
  .logo {
    width: 60px;
  }
}

@media only screen and (max-width: 650px) {

	.container {
		height: 100%;
	}

	.bookmark-inputs {
		display: block;
		float: none;
		height: 400px;
		margin: auto;
		position: relative;
		width: 100%;
	}

	.bookmark-list {
		display: block;
		float: none;
		height: 400px;
		margin: auto;
		position: relative;
		width: 100%;
	}

	.logo {
		margin-top: 20px;
	}
}

@media only screen and (max-width: 350px) {
	
  h1 {
		font-size: 20px;
	}

	.logo {
		width: 30px;
	}

	.count-list {
		font-size: 14px;
	}
  
	.link-submission {
		margin-top: 10px;
	}
}











